/* ============================== Admin Panel ============================== */
#admin-panel {
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--bg-main);

  overflow-y: auto;

  padding: 50px;
}
/* ========================================================================= */










/* ============================== Option Buttons ============================== */
#options-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}



#options-buttons .option-button {
  background-color: var(--accent-blue);
  color: var(--text-white);

  border: none;
  border-radius: 15px;

  padding: 7px 40px;

  font-size: 20px;
}
#options-buttons .option-button:hover {
  background-color: var(--accent-blue-hover);
}



#add-new-product {
  margin: 30px 0;

  background-color: var(--accent-green);
  color: var(--text-white);

  font-family: 'Google-Sans-Medium';
  font-size: 20px;

  padding: 7px 40px;

  border: none;
  border-radius: 15px;
}
#add-new-product:hover {
  cursor: pointer;
  background-color: var(--accent-green-hover)
}
/* ============================================================================ */










/* ============================== Admin Products ============================== */
#product-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.admin-product {
  width: 80%;
  border: 1px solid var(--border-main);
  border-radius: 20px;

  display: flex;
  justify-content: space-between;

  padding: 10px 15px;
}


.admin-product-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.admin-product-name {
  font-family: 'Google-Sans-Bold';
  font-size: 18px;
}

.admin-product-price {
  font-family: 'Google-Sans-Bold';
  font-size: 20px;

  color: var(--primary) !important;
}


.admin-product-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 5px;
}


.admin-product-actions .update-button {
  background-color: var(--accent-blue);
  color: var(--text-white);

  border: none;
  border-radius: 10px;

  padding: 10px 20px;
}
.admin-product-actions .update-button:hover {
  cursor: pointer;
  background-color: var(--accent-blue-hover);
}

.admin-product-actions .delete-button {
  background-color: var(--accent-red);
  color: var(--text-white);

  border: none;
  border-radius: 10px;

  padding: 10px 20px;
}
.admin-product-actions .delete-button:hover {
  cursor: pointer;
  background-color: var(--accent-red-hover);
}
/* ============================================================================ */



.window {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: var(--bg-modal);
  padding: 25px;

  border-radius: 15px;
  border: 1px solid var(--border-main);

  box-shadow: var(--shadow-modal);

  z-index: 10;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  animation: scale-in 0.2s ease-out;
}


.window .title {
  font-size: 20px;
  font-family: 'Google-Sans-Bold';
}

.window input {
  padding: 4px 10px;
}

.window label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.window button {
  width: 100%;

  background-color: var(--accent-blue);
  color: var(--text-white);

  border: none;
  border-radius: 10px;

  padding: 6px 12px;
}
.window button:hover {
  cursor: pointer;
  background-color: var(--accent-blue-hover);
}

.window .save-button {
  background-color: var(--accent-green);
}
.window .save-button:hover {
  background-color: var(--accent-green-hover);
}

.window .delete {
  background-color: var(--accent-red);
}
.window .delete:hover {
  background-color: var(--accent-red-hover);
}





/* ============================== Animations ============================== */
@keyframes scale-in {
  from {
    opacity: 0;
    transform: translate(-50%, -60%) scale(0.9);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}