@font-face {
  font-family: Google-Sans-Regular;
  src: url('../assets/Google_Sans/static/GoogleSans-Regular.ttf');
}

@font-face {
  font-family: Google-Sans-Medium;
  src: url('../assets/Google_Sans/static/GoogleSans-Medium.ttf');
}

@font-face {
  font-family: Google-Sans-Bold;
  src: url('../assets/Google_Sans/static/GoogleSans-Bold.ttf');
}





/* ============================== General Styles ============================== */
* {
  font-family: 'Google-Sans-Regular';
  box-sizing: border-box;

  transition: 0.2s;
}


body {
  margin: 0;
  background-color: var(--bg-main);
}

button {
  cursor: pointer;
}

.close-button {
  width: 30px;
  height: 30px;

  color: var(--text-main);

  position: absolute;
  top: 6%;
  right: 5%;

  transition: 0.3s;
}
.close-button:hover {
  cursor: pointer;
  transform: scale(1.2)
}



.theme-icon {
  color: var(--text-main);
}



input {
  background-color: var(--input-bg);
  color: var(--text-main);

  border: 1px solid var(--border-main);
  border-radius: 7px;

  transition: 0.2s;
}

input::placeholder {
  color: var(--text-secondary);
}
/* ============================================================================ */










/* ============================== Top Part ============================== */
#banner {
  display: flex;
  justify-content: center;

  background-color: var(--bg-main);

  height: 40px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--info-color);

  height: 5vh;

  font-size: 25px;

  padding: 0 300px;
}

header div {
  font-family: 'Google-Sans-Bold';
  color: var(--text-white);
}

.theme-icon {
  width: auto;
  height: 28px;

  border-radius: 10px;

  transition: 0.3s;
}
#theme-icons svg:hover {
  cursor: pointer;
  background-color: var(--info-hover);
}
/* ====================================================================== */










/* ============================== Main Page ============================== */
#main-page {
  background-color: var(--bg-main);
  min-height: calc(100vh - 40px - 5vh);
}

#main-page div {
  color: var(--text-main);
}
/* ======================================================================= */










/* ============================== Double Banner ============================== */
#double-banner {
  height: 400px;

  display: flex;
  justify-content: center;

  margin-top: 30px;
}

#double-photos {
  border-radius: 20px;

  display: flex;
  gap: 100px;
}

#double-banner img {
  border-radius: 20px;

  transition: 0.3s;
}
#double-banner img:hover {
  transform: scale(1.1);
}
/* =========================================================================== */










/* ============================== Products ============================== */
#products {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 0 300px;
}


#products-title {
  font-family: 'Google-Sans-Medium';
  font-size: 20px;
}


#product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  column-gap: 50px;
}


.product {
  background-color: var(--bg-card);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(10, 61, 145, 0.08);

  padding: 10px 20px;

  transition: 0.3s;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product:hover {
  cursor: pointer;
  background-color: var(--secondary-bg);

  box-shadow: 5px 5px 0 rgba(10, 61, 145, 0.08);
}

.product-name {
  color: var(--text-main) !important;

  font-family: 'Google-Sans-Medium';
  font-size: 20px;
}

.product-price {
  color: var(--primary) !important;

  font-family: 'Google-Sans-Bold';
  font-size: 24px;
}

.product-stock {
  color: var(--text-secondary) !important;
}

.buy-button {
  margin-top: 20px;

  background-color: var(--primary);
  color: var(--text-white);

  padding: 8px 50px;

  font-family: 'Google-Sans-Bold';
  font-size: 20px;

  border: none;
  border-radius: 10px;
}
.buy-button:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}
/* ====================================================================== */