@font-face {
  font-family: Google-Sans-Regular;
  src: url('../assets/Google_Sans/static/GoogleSans-Regular.ttf');
}

@font-face {
  font-family: Google-Sans-Medium;
  src: url('../assets/Google_Sans/static/GoogleSans-Medium.ttf');
}

@font-face {
  font-family: Google-Sans-Bold;
  src: url('../assets/Google_Sans/static/GoogleSans-Bold.ttf');
}

/* Темно-синий (основной фон/шапка) – создаёт ощущение надёжности и технологичности
HEX: #1F3A93
Средний синий (акценты, кнопки, ссылки) – добавляет свежести и динамики
HEX: #3B5998
Светло-голубой (фон блоков, карточек) – облегчает восприятие и делает интерфейс «легким»
HEX: #A9CCE3
Серо-синий (тексты, подзаголовки) – нейтральный и контрастный для читаемости
HEX: #5D6D7E */

/* ============================== General Styles ============================== */
* {
  font-family: 'Google-Sans-Regular';
  box-sizing: border-box;
}


body {
  margin: 0;
}

button {
  cursor: pointer;
}

.close-button {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 6%;
  right: 5%;

  transition: 0.3s;
}
.close-button:hover {
  cursor: pointer;
  transform: scale(1.2)
}
/* ============================================================================ */










/* ============================== Top Part ============================== */
#banner {
  display: flex;
  justify-content: center;

  background-color: #fff;

  height: 40px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #0a3d91;

  height: 5vh;

  font-size: 25px;

  padding: 0 300px;
}

header div {
  font-family: 'Google-Sans-Bold';
  color: #fff;
}

.theme-icon {
  width: auto;
  height: 28px;

  border-radius: 10px;

  transition: 0.3s;
}
#theme-icons svg:hover {
  cursor: pointer;
  background-color: #062a64;
}
/* ====================================================================== */










/* ============================== Main Page ============================== */
#main-page {
  background-color: #f5f9ff;
  min-height: calc(100vh - 40px - 5vh);
}

#main-page div {
  color: #1a1a1a;
}
/* ======================================================================= */










/* ============================== Double Banner ============================== */
#double-banner {
  height: 400px;

  display: flex;
  justify-content: center;

  margin-top: 30px;
}

#double-photos {
  /* border: 1px solid #5d6d7e; */
  border-radius: 20px;

  display: flex;
  gap: 100px;
}

#double-banner img {
  border-radius: 20px;

  transition: 0.3s;
}
#double-banner img:hover {
  transform: scale(1.1);
}
/* =========================================================================== */










/* ============================== Products ============================== */
#products {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 0 300px;
}


#products-title {
  font-family: 'Google-Sans-Medium';
  font-size: 20px;
}


#product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  column-gap: 50px;
}


.product {
  background-color: #ffffff;
  border-radius: 20px;

  padding: 10px 20px;

  transition: 0.3s;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product:hover {
  cursor: pointer;
  background-color: #e6f0ff;

  box-shadow: 5px 5px 0 rgba(10, 61, 145, 0.08);
}

.product-name {
  color: #1a1a1a !important;

  font-family: 'Google-Sans-Medium';
  font-size: 20px;
}

.product-price {
  color: #0a3d91 !important;

  font-family: 'Google-Sans-Bold';
  font-size: 24px;
}

.product-stock {
  color: #5a6b85 !important;
}

.buy-button {
  margin-top: 20px;

  background-color: #0a5bff;
  color: #ffffff;

  padding: 8px 50px;

  font-family: 'Google-Sans-Bold';
  font-size: 20px;

  border: none;
  border-radius: 10px;
}
.buy-button:hover {
  cursor: pointer;
  background-color: #0847cc;
}
/* ====================================================================== */