.register-and-login-window {
  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 35%;
  height: 40%;

  border-radius: 20px;
  border: 1px solid var(--border-main);
  box-shadow: var(--shadow-modal);

  background-color: var(--bg-modal);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 20px;

  z-index: 10;
}



.register-and-login-window .title {
  font-family: 'Google-Sans-Bold';
  font-size: 30px;

  margin-bottom: 20px;
}


.register-and-login-window .inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 50%;
}

.register-and-login-window .inputs input {
  padding: 5px 10px;

  font-size: 16px;
}


.register-and-login-window .action-button {
  background-color: var(--primary);
  color: var(--text-white);

  font-family: 'Google-Sans-Bold';
  font-size: 20px;

  border: none;
  border-radius: 10px;

  width: 50%;
  height: 9%;

  margin-top: 20px;

  transition: 0.3s;
}
.register-and-login-window .action-button:hover {
  cursor: pointer;
  background-color: var(--primary-hover);

  transform: scale(1.05);
}


.register-and-login-window .link {
  font-size: 13px;
}


.register-and-login-window .link .redirect {
  text-decoration: underline;
}
.register-and-login-window .link .redirect:hover {
  cursor: pointer;
}



.inline-error-message {
  background-color: var(--error-bg);
  color: var(--error-color);
}